*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

#root{
    width: 100%;
    min-height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    height: 30%;
    width: 900px;
    border: 1px solid red;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.items{
    flex-basis: 25%;
    height: 300px;
    border: 1px solid white;
}